body{
    font-family: 'Times New Roman', Times, serif;
}

img{
    border-radius: 50%;
    float:right;
    padding-right: 10%; 
}

p{
    font-size: large;
}

hr{
    background-color: yellow;
}
  

  
  